# NutriEye Local Environment Configuration
FLASK_SECRET_KEY=nutrieye_clinical_secret_key_2026

# Outbound Gmail SMTP settings (Optional, defaults to mock /inbox if empty)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-username@gmail.com
MAIL_PASSWORD=your-google-app-password
MAIL_SENDER=your-username@gmail.com
