venv/
venv310/
__pycache__/
*.pyc
*.pyd
*.dll
*.so
*.exe
.env
dataset/
.ipynb_checkpoints/
instance/*.db
static/uploads/
static/*.pdf
venv/
venv310/

model/efficientnet.h5
model/efficientnet.weights.h5
model/mobilenet.h5
model/mobilenet (1).h5
model/mobilenet.weights.h5
model/resnet.h5
model/resnet.weights.h5
model/retinal_5class.weights.h5
*.h5
*.weights.h5
dataset/
model/
*.keras